<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="Trace" value="yes"/>
    <add key="Simulator" value="no"/>
  </appSettings>
  <system.diagnostics>
    <switches>
      <add name="TraceSwitch" value="Info" />
    </switches>
  </system.diagnostics>
</configuration>